* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: azure;
}
.menu {
    width: 900px;
    margin: 0 auto;
}
header{
    background-color: antiquewhite;
    width: 100%;
    clear: both;
    content: ' ';
    display: table;
}
nav{
    float: right;
}
nav ul li{
    list-style: none;
    margin-left: 75px;
    padding: 25px;
    float: left;
    position: relative;
}
nav ul li a{
    text-decoration: none;
    color: chocolate;
    font-weight: bold;
    font-size: 35px;
}